body {
    background-color: #1D4221;
    color:white;
      justify-content: center;font-family:"bai janjuree", sans-serif;
    display: flex; 
  
    align-items: center;
    height: 700px;
    margin: 0;
}

button{
    background-color: chartreuse;
    color:white;
      justify-content: center;font-family:"bai janjuree", sans-serif;

}



